/* Stylesheet for Megan's personal style */


/*Type level selectors */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Pragati Narrow', sans-serif;
}

h1 {
    font-size: 60px;
    color: black;
    width: 100%;
    position: absolute;
    text-align: center;
    top: -25px;
    opacity: .6;
}

h3 {
    font-size: 40px;
    color: #163836;
    padding-bottom: 15px;
}

/* click stuff*/

a {
    text-decoration: none;
    color:  #163836;
}
.navbar span :hover {
    color:rgb(136, 252, 27);
}
.navbar :visited {
    color:  #163836;
    text-decoration: none;
}

#contactInfo :link {
    color:rgb(136, 252, 27);
}

#contactInfo :visited {
    color:rgb(136, 252, 27);
}

#currentPage :link {
    color: gray;
}

#currentPage :visited {
    color: gray;
}

/* Class level selectors*/
.headerPhotoBox {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
}

.headerPhoto {
    box-sizing: border-box;
    max-height: 600px;
    max-width: 1300px;
    /*FIX THIS STUPID SHADOW SHIT*/
    border: 5px dotted red;
}

.logo {
    position: absolute;
    right: 100px;
    height: 120px;
    width: 120px;
    top: 350px;
}

.headerWrapper {
    top: 0;
    left: 0;
    width: 100%;
    background: radial-gradient(at bottom, black 50%, white)
}

.headerWrapper p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.bodyWrapper {
    display: flex;
    justify-content: center;
}

.navbar {
    float: left;
    margin: 20px;
    margin-left: 40px;
    margin-top:40px;
    color: #163836;
}

.navbar span {
    display: block;
    text-align: left;
    font-size: 25px;
    margin-top: 30px;
    
}

/*id level selectors*/


#upcomingEvents {
    margin: 60px;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 15px;
    font-size: 18px;
    max-width: 500px;
}

#upcomingEvents h4 {
    font-size: 20px;
    position: relative;
    top: 10px;
}

#aboutInfo {
    padding: 50px;
    max-width: 700px;
    text-align: left;
    flex-direction: column;
}

#contactInfo {
    font-size: 20px;
    padding: 40px;
    max-width: 600px;
    border: 2px solid lightgray;
    border-radius: 15px;
    margin-top: 60px;
}